body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../images/chimney_dublin.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    color: #333;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
    height: 50px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover {
    color: #007B55;
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    width: 45%;
    margin: 60px;
    padding: 30px;
    border-radius: 10px;
    line-height: 1.6;
}