.modal {
    position: fixed;
    display: flex;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    color: #333;
}

.modal-content>h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.modal-content>p {
    margin: 10px 0;
    line-height: 1.5;
}

#modal-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-gap: 2em;
}


/* ----- Close Button */

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    transition: color 0.3s;
}

.close-btn:hover {
    color: #000;
}